<div class="row">
    <div class="col">
        <h2>Clientes</h2>        
        <app-customer *ngFor="let row of list" [data]="row" 
            (customerSelected)="setSelected($event)" (customerDeleted)="customerDeleted($event)">
        </app-customer>
    </div>
    <div class="col">
        <app-cards [list]="selected.cards" (cardSelected)="setCardSelected($event)"></app-cards>
    </div>
    <div class="col">
        <app-transactions [list]="transactionList"></app-transactions>
    </div>
</div>  