<div class="card border-secondary mb-3 hand" style="width: 18rem;" 
(click)="select()" [ngClass]="selected ? 'bg-info' : ''">
  <div class="card-body">
    <h5 class="card-title">{{data.fullName}}</h5>    
    <p class="card-text">      
      <strong>{{data.city}}</strong><br>
      Address: {{data.address}}<br>          
      Phone: {{data.phone}}      
    </p>
    
    <button type="button" class="btn btn-primary  btn-sm ml-1 ">Editar</button>
    <button type="button" class="btn btn-danger  btn-sm ml-1 "  (click)="delete($event)">Eliminar</button> 
</div>